<!DOCTYPE html>
<html>
	
  <head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta name="viewport" content="width=device-width,initial-scale=1">
	  <title>Space Box</title>
	  <meta name="author" content="https://gitlab.com/matmpimentel/">
	  <meta name="description" content="Processo seletivo commceptaDesign">
	  <meta name="keywords" content="vue, js, vue.js">
	  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	  <link rel="stylesheet" href="style.css" type="text/css">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
		<script src="JS/app.js"></script>
	</head>
	
	<body>
		
    <div id="app">
    	
    	<nav>
    		<div class="navContainer">
    			<img src="assets/logo.png" />
    			<div class="menu">
	    			<a href="#">Empresa</a>
	    			<a href="#">Serviço</a>
	    			<a href="#">Contato</a>
    			</div>
    		</div>
    	</nav>
    	
    	
    	<div class="boxContainer bodytransition" id="boxContainer">

    		<!-- Box dinamico -->
    		<div class="contentBox">
    			<div class="profileImage" v-bind:style="{ backgroundImage: 'url(assets/' + currentProfile.foto + ')' }">
    			</div>
    			<div class="infos">
    				<table>
    					<tr><td><p><span>Nome: </span></p></td><td><p>{{currentProfile.nome}}</p></td></tr>
    					<tr><td><p><span>Cargo: </span></p></td><td><p>{{currentProfile.cargo}}</p></td></tr>
    					<tr><td><p><span>Idade: </span></p></td><td><p>{{currentProfile.idade}}</p></td></tr>
    				</table>
	      	</div>
    		</div>
    		<!-- Box dinamico -->
    		
    		<!-- Boxes menores -->
	      <div v-for="(profile, idx) in profiles" v-bind:key="profile.id" v-bind:nome="profile.nome" v-bind:idade="profile.idade" v-bind:cargo="profile.cargo" @click="toggle(profile, idx)" class="box" :class="{'active': idx == activeIndex}">
	      	
	      	<div class="profileImage" v-bind:style="{ backgroundImage: 'url(assets/' + profile.foto + ')' }">
	      		<div><span>{{profile.id}}</span></div>
	        </div>
	        	
	      	<div class="infos">
		      	<p><span>{{profile.nome}}</span></p>
		      	<p>{{profile.cargo}}</p>
	      	</div>
	        	
	      </div> <!-- Boxes menores -->
      
      
      </div> <!-- Box Container -->
      
    </div> <!-- app -->


		
		
	</body>
</html>