	/* Variáveis primeiro */
	:root{
		--pagePadding: 15vw;
		--maxWidthContainer: 1410px;
		--boxWidth: calc(33% - var(--boxGutter));
		--boxGutter: 20px;
		--marginLeftContainer: calc(var(--boxGutter)*(-2));
		--widthContainer: calc(var(--maxWidthContainer) + var(marginLeftContainer));
	}
	
	/* Resets */
	*, html, body{
		box-sizing: border-box;
	}
	
	html, body{
		margin:0;
		padding: 0;
		max-width: 100vw;
		overflow-x: hidden;
	}

#boxContainer.bodytransition{    transform: translateY(3rem);
    opacity:0;
}

#boxContainer{transition:all 300ms ease;
    transform: translateY(0);
    opacity:1;
	transition: all 300ms ease-in-out;
}
	/* Estilos */
	#app{
		font-family:"Open Sans", Helvetica, Arial, sans-serif;
	}
	
	nav{
		width: 100%;
		height: 120px;
		padding: 30px var(--pagePadding);
background-color: #44dddd;
background-image: linear-gradient(90deg, #44dddd 25%, #0a2533 100%);
		margin-bottom:5vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.navContainer{
		width: 100%;
		max-width: var(--maxWidthContainer);
		background-color: transparent;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.navContainer img{
		height: auto;
		max-width: 175px;
		cursor: pointer;
	}
	
	.menu{
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		margin-left: auto;
	}
	
	.menu a{
		text-decoration: none;
		color: #ffffff;
		cursor: pointer;
		font-size: 18px;
		margin-left: 1.5rem;
	}
	
	#app{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		min-width: 100vw;
		display:flex;
		flex-direction: column;
		align-items:center;
		background-color: #f0f0f0;
	}
	
	.boxContainer{
		margin-left: var(--marginLeftContainer);
		width: var(--widthContainer);
		max-width: var(--maxWidthContainer);
		padding: 0 var(--pagePadding) 0 calc(var(--pagePadding) +  var(--boxGutter));
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		box-sizing: content-box;
	}
	
	.contentBox{
		min-height: 13vw;
		width: 100%;
		background-color: #fefefe;
		margin: 0 0 var(--boxGutter) var(--boxGutter);
		padding: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
		-webkit-box-shadow: 0px 12px 45px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 45px -20px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 45px -20px rgba(0,0,0,0.75);
	border-radius: 2px;
	}
	
	.contentBox	.infos{
		display: flex;
		flex-direction: column;
		margin-left: 30px;
	}
	
	.contentBox	.infos p{
		margin: 0;
		font-size: 16px;
	}
	
	.contentBox	.infos p span{
		font-weight: normal;
		font-size: 16px;
		color: #707070;
	}
	
	.contentBox	.infos p{
		font-weight: bold;
		color: #092432;
	}
	
	.box{
		cursor: pointer;
		width: 100%;
		max-width: var(--boxWidth);
		min-height: 13vw;
		margin: 0 0 var(--boxGutter) var(--boxGutter);
		background-color: #fefefe;
		padding: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
		-webkit-box-shadow: 0px 12px 45px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 45px -20px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 45px -20px rgba(0,0,0,0.75);
	border-radius: 2px;
 	transition: all 400ms ease;

	}
	
.box:focus, .box:focus:hover, .box:hover{
  	transform: scale3d(1.06, 1.06, 1.06);
}

.box:active:hover, .box:active{
  transform: scale3d(0.98, 0.98, 0.98);
  transition: all 100ms ease;
}
	
	.profileImage{
		border-radius: 50px;
		max-width: 70px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.profileImage{
		height: 70px;
		width: 70px;
		max-width: 70px;
		max-height: 70px;
		background-size: cover;
		background-position: center center ;
	}
	
	.profileImage div{
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		background-color: #44dddd;
		transform: translate(100%, -100%);
		font-weight: bold;
	}
	
	.infos{
		display: flex;
		flex-direction: column;
		margin-left: 15px;
	}
	
	.infos p{
		margin: 0;
		font-size: 14px;
		color: #707070;
	}
	
	.infos p span{
		font-weight: bold;
		color: #092432;
		font-size: 16px;
	}
	
	.infos table tr td:first-child{
		text-align: right;
	}
	.infos table tr td:not(:first-child){
		padding-left: 6px;
	}
	
	.box.active {
		background-color: #002b50;
	}
	
	.box.active .infos p, .box.active .infos p span{
		color: #ffffff;
	}
	
	/*MEDIA QUERIES */
	
	
@media screen
  and (max-width: 1024px)
  and (orientation: landscape){
  	:root{
  		--boxWidth: calc(50% - var(--boxGutter))
  	}
  }
	
	
/* ----------- Mobile ----------- */


/* Portrait */
@media screen
  and (max-width: 760px)
  and (orientation: portrait) {
  	:root{
			--boxWidth: calc(100% - var(--boxGutter));
			--pagePadding: 7vw;
			--maxWidthContainer: 100vw;
			--widthContainer: 100vw;
			--marginLeftContainer: 0;
  	}

	.boxContainer{
		margin-left: 0;
		width: 100%;
		max-width: 90%;
		padding: 0 var(--pagePadding);
	}

  	.contentBox{
  		margin: 0px 0px var(--boxGutter) 0px;
		border: 1px solid #44dddd;
		border-radius: 4px;
		min-width: 100%;
  		max-width: 100%;
  	}
  	
  	.box{
  		max-width: 100%;
  		border-radius: 4px;
		margin: 0 0 var(--boxGutter) 0
  	}
	.menu{
		display: none;
	}
}

/* Landscape */
@media screen
  and (max-width: 760px)
  and (orientation: landscape) {
    	:root{
			--boxWidth: calc(100% - var(--boxGutter));
  	}
  	
  	.contentBox{
  		margin: 0px 0px var(--boxGutter) 0px;
		border: 1px solid #44dddd;
		border-radius: 4px;
		min-width: 100%;
  		max-width: 100%;
  	}
  	
  	.box{
		margin: 0 0 var(--boxGutter) 0;
  		max-width: 100%;
  		border-radius: 4px;
  	}
	.menu{
		display: none;
	}
}

@media screen
	and (min-width: 1900px)
	and (orientation: landscape) {
		.profileImage{
			width: 100%;
			height: 100%;
			max-width: 100px;
			max-height: 100px;
		}

		.infos p{
			font-size: 16px;
		}

		.contentBox .infos p, .contentBox .infos p span, .infos p span{
			font-size: 18px;
		}

		.profileImage div{
			transform: translate(100%, -120%);
			width: 35px;
			height: 35px;
		}
	}